//

$primary: #24BAA8;
$secondary: #F08436;
// $bootstrap-icons-font-dir: "https://tinyshops.rckt.com.br/fonts";
$bootstrap-icons-font-dir: "./fonts";

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.btn-primary, .btn-primary:hover, .btn-outline-primary:hover {
    color: white;
}